@import "tailwindcss";

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.5);
  border-radius: 999px;
}
